*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
header {
display: flex;
width: 50rem;
}
h1 {
    font-size: 3em;
    border-bottom: thick solid gray;
    padding-top: 1.5em;
    /* width: 50rem; */
    padding-bottom: 2rem;
}
.container {
    max-width: 140vmin;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
p {
    font-size: 2em;
    border: 2px;
    border-color: gray;
    color: rgb(13, 85, 229);
}
.icon {
    height: 2em;
    padding: 0;
}
.bug img {
    padding-left: 35%;
}
.musician img {
    padding-left: 20%;
}
.young_programmer img {
    padding-left: 25%;
}
.trash img {
    padding-left: 14%;
}
.trash {
    margin-bottom: 4rem;
}
.bug, .musician, .programer_life, .young_programmer, .trash {
    padding-bottom: 2rem;
}
.young_programmer img {
    padding-left: 25%;
}
.wraper {
    border-bottom: thick solid gray;
}
.title {
display: flex;
justify-content: space-between
}
input[name=title]{
    display: none;
  }
@media (hover) , (min-width: 1280px) {
    .container:hover .icon {
        opacity: 1;
        width: auto;
        height: 80%;
        transition: 1s;
    }
    .container:hover p {
        color: black;
    }
    .bug img, .musician img, .programer_life img, .young_programmer img, .trash img {
        opacity: 0;
        height: 0%;
        width: 0%;
    }
    .wraper:hover img {
        position: static;
        opacity: 1;
        width: auto;
        height: 100%;
        transition: 2s ease;
        }
    .wraper:hover .icon {
        rotate: 45deg;
        padding: 0;
        transition: 0.5s linear;
        }
          label{
            cursor: pointer;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 50rem;
            justify-content: space-between;
            padding: 1em 0 ;
        }
        input[name=title]:checked + label>.title .icon {
            opacity: 1;
            width: auto;
            height: 80%;
            rotate: 45deg;
            padding: 0;
          }
          input[name=title]:checked + label>img {
            width: auto;
            height: auto;
            opacity: 1;
          }
          input[name=title]:checked + label>.title p {
            color: black;
          }

  }
@media (max-width: 820px) {
    .container {
        max-width: 82vmin;
        margin: 0px 21%;
        width: auto;
    }
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5em;
    }
      .bug img, .musician img, .programer_life img, .young_programmer img, .trash img {
        opacity: 0;
        height: 0%;
        width: 0%;
    }
    input[name=title]:checked + label>.title .icon {
        opacity: 1;
        width: auto;
        height: auto;
        rotate: 45deg;
        padding: 0;
      }
      input[name=title]:checked + label>img {
        width: 60%;
        height: 60%;
        opacity: 1;
      }
      input[name=title]:checked + label>.title p {
        color: black;
      }
  }
@media (max-width: 320px) {
    .container {
        max-width: 70vmin;
        margin: 0 15%;
        width: auto;
    }
    h1 {
    font-size: 1.5rem;
    }
    p {
        font-size: 1em;
    }
    .bug img, .musician img, .programer_life img, .young_programmer img, .trash img {
        opacity: 0;
        height: 0%;
        width: 0%;
    }
    input[name=title]:checked + label>.title .icon {
        opacity: 1;
        width: auto;
        height: auto;
        rotate: 45deg;
        padding: 0;
      }
      input[name=title]:checked + label>img {
        width: 60%;
        height: 60%;
        opacity: 1;
      }
      input[name=title]:checked + label>.title p {
        color: black;
      }
}
