*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
header {
display: flex;
width: 50rem;

}
h1 {
    font-size: 3em;
    border-bottom: thick solid gray;
    padding-top: 1.5em;
    width: 50rem;
    padding-bottom: 2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.container:hover .icon {
    display: inline;
    opacity: 1;
}
.container:hover p {
    color: black;
}
.title {
    display: flex;
    width: 50rem;
    justify-content: space-between;
    padding: 1.5em 0 ;
}
p {
    font-size: 2em;
    border: 2px;
    border-color: gray;
    color: rgb(13, 85, 229);
}
.bug img {
    padding-left: 35%;
    padding-bottom: 2rem;
}
.musician img {
    padding-left: 20%;
    padding-bottom: 2rem;
}
.young_programmer img {
    padding-left: 25%;
    padding-bottom: 2rem;
}
.trash img {
    padding-left: 14%;
}
.trash {
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
.bug, .musician, .programer_life {
    padding-bottom: 2rem;
}
.young_programmer img {
    padding-left: 25%;
    padding-bottom: 2rem;
}
.wraper {
    border-bottom: thick solid gray;
}
@keyframes hover {
    from { display: none; }
    to { opacity: 1; }
  }

.bug img, .musician img, .programer_life img, .young_programmer img, .trash img {
    display: none;
    opacity: 0;
}
.wraper:hover img {
        animation: hover 10s;
        display: inline;
    }
    /* transform: rotate(45deg); */
